/* Style the list */
ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #F0FBFD;
}

/* Float the list items side by side */
ul.tab li {float: left;}

/* Style the links inside the list items */
ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    font: bold 16px/30px Georgia, serif;
}

/* Change background color of links on hover */
ul.tab li a:hover {background-color: #ddd;}

/* Create an active/current tablink class */
ul.tab li a:focus, .active {background-color: #ccc;}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

body {
  text-align: center;
  padding: 60px 0px;
  height: 100%;
  box-sizing: border-box;
  background-image: url("background.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  counter-reset: Serial;
 }

div {
  text-align: left;
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}

.field-label {
font-weight:bold;
}


label {
font-weight: bold;
width: 150px;
display: block;
float: left;
padding: 10px;
}

