<!DOCTYPE html>
<html>
<body>
<head>
  <title>System Test Chaos as a service</title>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">
<form method="post" action="/process_input">
    <div>
    <h2>System Test Chaos as a service</h3>
    <div>
    <div>
        <label for="src_loc">Enter Cluster Names</label>
        <input type="text" id="src_clus" name="src_clus">
        <input type="text" id="dest_clus" name="dest_clus">
    </div>
  <div>
    <label for="src_loc">Select Test</label>
    <select id="service" name="service">
    <option value="stop_cerebro">Stop Cerebro</option>
    <option value="stop_magneto">Stop Merebro</option>
    <option value="restart_cerebro">Restart Cerebro</option>
    <option value="restart_magneto">Restart Magneto</option>
    </select>
 </div>
<div>
    <label for="src_loc">Enter Operation</label>
  <select id="op" name="op">
  <option value="migrate_protection_domain">Migrate Protection Domain</option>
  <option value="activate_protection_domain">Activate Protection Domain</option>
  <option value="enable_metro">Enable Metro</option>
  <option value="disable_metro">Disable Metro</option>
</select>
 </div>
     <div>
        <label for="no_iter">Select Number of iterations</label>
        <input type="text" id="no_iter" name="no_iter">
    </div>
    <div class="button">
        <button type="submit">RUN
        </button>
    </div>
</form>
</body>
</html>
